<div class="d-flex justify-content-end align-items-center gap-2">
  <i style="color: blue;" class="fa fa-thumbs-up" aria-hidden="true"></i>
  <i style="color: red;" class="fa fa-thumbs-down p-2" aria-hidden="true"></i>
</div>
